---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Oracle database administration",
    desc: [
    ' CREATE TABLE JLG_EMPLOYEES(
      FIRST_NAME varchar(150),
      LAST_NAME varchar(150),
      COUNTRY_NAME varchar(150),
      SALARY integer,
      DEPARTMENT_NAME varchar(100)
      );

      INSERT INTO JLG_EMPLOYEES(FIRST_NAME, LAST_NAME, COUNTRY_NAME, SALARY, DEPARTMENT_NAME)
      SELECT e.FIRST_NAME, e.LAST_NAME, c.COUNTRY_NAME, e.SALARY, d.DEPARTMENT_NAME
      FROM HR.EMPLOYEES e JOIN HR.DEPARTMENTS d ON (e.department_id = d.department_id)
      JOIN HR.LOCATIONS l ON (d.location_id = l.location_id)
      JOIN HR.COUNTRIES c ON (l.country_id = c.country_id)
      WHERE d.department_id BETWEEN 80 AND 90;

      SELECT * FROM jlg_employees;'
    ],
    tech: ["SQL", "SQL Developer", "Oracle"]
  },
  {
    title: "DataMesh",
    desc: [
      "Built an infrastructure for a data analytics platform",
      "Configured VMs and deployed a multi-node Kubernetes cluster on AWS",
      "Designed to handle a high volume of ~5 million data points per day",
      "Integrated Grafana and Prometheus for monitoring",
    ],
    tech: ["Docker", "Kubernetes", "AWS", "Node.js", "RabbitMQ"]
  },
  {
    title: "CloudEase",
    desc: [
      "Migrated a cloud-based CRM system from one provider to another",
      "Built the new GCP infrastructure using Terraform as a IaC tool",
      "Deployed logging and monitoring tools in GKE cluster",
    ],
    tech: ["GCP", "Terraform", "Kubernetes", "GitLab"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="DevOps | Jhonatan Lara" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>DevOps</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
